.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: start;
    margin: 100px 24px 0 24px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.header__links-list {
    display: flex;
    align-items: start;
    gap: 10px;
    margin: 36px 0px 0px 26px;
    font-size: 18px;
    line-height: 120%;
    list-style: circle;
    list-style-position: inside;
}

.header__links-list-item_no-bullet {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    min-width: 134px;
    margin-left: 5px;
}

.address {
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    align-content: center;
    max-width: 52%;
    margin-right: 26px;
    margin-left: auto;
}

.address p {
    margin: 0;
    padding: 0;
}

.cover {
    background-image: url(../images/cover.jpg);
    position: relative;
    margin-top: 86px;
    margin-bottom: 175px;
    padding: 165px 50px 0 50px;
    background-position: center;
    background-size: cover;
}

.cover__title {
    position: relative;
    color: #fff;
    font-size: 100px;
    line-height: 123%;
    letter-spacing: 30px;
    z-index: 2;
}

.cover__description {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 120px;
    padding-bottom: 56px;
    color: #fff;
    z-index: 2;
}

.cover__description-text {
    margin-left: 26px;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 19px;
}

.overlay::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title span {
    text-transform: uppercase;
}

.lots {
    display: flex;
    flex-direction: column;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text_center {
    display: flex;
    justify-content: center;
}

.aligned-text_right {
    display: flex;
    justify-content: end;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.bet-button {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
    margin-left: auto;
    border-radius: 0;
    padding: 12px 24px;
    outline: 1px solid #fff;
}

.lots__heading {
    margin-bottom: 24px;
    margin-left: 64px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    margin-right: 24px;
    margin-left: 24px;
}

.lots__card-list-item {
    max-width: 334px;
    list-style: none;
}

.card {
    display: flex;
    position: relative;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    min-height: 565px;
    padding: 50.5px 40px;
    color: #fff;
}

.card-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}


.card__title {
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-top: 0;
}

.card__text {
    position: relative;
    z-index: 2;
    margin-top: auto;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
}

.lots__look-more-link {
    margin-top: 30px;
    margin-left: 63px;
    font-size: 20px;
    max-width: fit-content;
    text-decoration: underline;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__text-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__logo {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 240px;
    margin-right: 71px;
    margin-left: 47px;
    border-radius: 50%;
    background-color: black;
}

.about__logo-image {
    width: 62%;
}

.about__title {
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about {
    display: flex;
    flex-direction: row;
    margin-top: 182px;
    margin-right: 28px;
    margin-bottom: 176px;
    margin-left: 24px;
}

.about__text {
    font-size: 20px;
    line-height: 24.3px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-right: 50px;
    margin-bottom: 86px;
    margin-left: 50px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer__menu-list {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    list-style: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    list-style: none;
}

.address__footer {
    margin-left: 0;
    max-width: 22%;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-icon {
    width: 48px;
    height: 100%;
}